*/venv/*
.venv/
.env
.env.*
!.env.example
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
*/app/__pycache__/*
*/app/routes/__pycache__/*
*/app/services/__pycache__/*
*/app/utils/__pycache__/*
